NEXT_PUBLIC_SUPABASE_URL=https://wgaspejdsjcspmlwvvzq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnYXNwZWpkc2pjc3BtbHd2dnpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNDIwMjgsImV4cCI6MjA5NjcxODAyOH0.aIkqJVanOmiyK2wdEl6jZSw4_qblDkoRXw5ZHRpAj1E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnYXNwZWpkc2pjc3BtbHd2dnpxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTE0MjAyOCwiZXhwIjoyMDk2NzE4MDI4fQ.ge4ZM5gDuj6tsL17ZZnxoMcUs0r9UnvcpJ8AoQqcu7E
# PIN de 4 dígitos para desbloquear los carteles (cambiar en Vercel)
CARTEL_PIN=2580
NEXT_PUBLIC_CARTEL_PIN=2580
